{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    ["transform-react-jsx"],
    ["transform-object-rest-spread"],
    ["external-helpers"]
  ]
}
