.DS_Store
.tern-port
node_modules
dist
.#*
/extension/build/
/extension/dist/
/extension/*.zip
memos
target
/backend/server/Dockerfile
/backend/classifier/.python-version
/backend/classifier/Dockerfile.cron
/backend/classifier/deploy-ecs-cron.sh
/backend/tools/Dockerfile.archive
/backend/tools/deploy-ecs-cron-archiver.sh
.vscode/
deploy.sh
/papers
/extension/web-ext-artifacts/*
classifier.json
Dockerfile
.sass-cache
__pycache__
*.code-workspace
*.pyc
passwords.txt
coverage
facebook_ads_*.sql
