.DS_Store
.tern-port
node_modules
dist
.#*
/extension/build/
/extension/dist/
/extension/*.zip
memos
target
/backend/server/.dockerignore
/backend/server/Dockerfile
deploy.sh
/papers
/extension/web-ext-artifacts/*
classifier.json
/backend/.dockerignore
Dockerfile
.sass-cache
__pycache__
