// ------------------------------------------------------------
// COLOR VARIABLES
// ------------------------------------------------------------

$pp-blue: #304154;
$red: #d0011b;
$green: #36bc36;

$hed-color: #000;
$text-color: #333;
$text-color-retina: #000;
$text-color-low-contrast: lighten($text-color, 45%);

$page-bg-color: #fff;
$bg-low-contrast: #f0efee;

$border-color: darken($bg-low-contrast, 10%);
$border: 1px solid $border-color;

$link-color: saturate(lighten($pp-blue, 25%), 50%);
$donate-color: #bf2d2d;

$nav-red: #be4751;
$nav-blue: #304154; // All instance of $nav-blue should be replaced with $pp-blue

$fb-color: #3f5d9a;
$twitter-color: #1da1f3;
$light-red: #be3b3b;
