/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  padding: 0 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
}

b {
  font-weight: bold;
}

p {
  max-width: 35rem;
  margin: 0 auto;
  line-height: 1.5;
  padding: 0 1rem;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'graphik';
  src: url("https://static.propublica.org/v3/assets/fonts/Graphik-Light-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-Regular-Web.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'graphik';
  src: url("https://static.propublica.org/v3/assets/fonts/Graphik-Lightitalic-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-Regularitalic-Web.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'graphik';
  src: url("https://static.propublica.org/v3/assets/fonts/Graphik-Regular-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-Regular-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphik';
  src: url("https://static.propublica.org/v3/assets/fonts/Graphik-RegularItalic-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-RegularItalic-Web.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'graphik';
  src: url("https://static.propublica.org/v3/assets/fonts/Graphik-LightItalic-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-LightItalic-Web.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'graphik';
  src: url("https://static.propublica.org/v3/assets/fonts/Graphik-Semibold-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-Semibold-Web.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'graphik';
  src: url("https://static.propublica.org/v3/assets/fonts/Graphik-Semibolditalic-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-Semibolditalic-Web.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-Regular.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-Semibold.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-RegularItalic.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-Bold.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-BoldItalic.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

nav {
  float: left;
}

nav a {
  height: 1.5rem;
  width: 10rem;
  background: url("https://static.propublica.org/logos/pp-logo-light.min.svg") 0 0 no-repeat;
}

header {
  padding: 0.8rem 2rem 0.6rem;
  background-color: #304154;
  margin-bottom: 1.5rem;
  display: flow-root;
}

header li, header nav {
  display: inline-block;
  position: static;
}

header li.donate {
  height: 1.5rem;
  overflow: hidden;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-family: 'Tiempos Text', Georgia, serif;
  font-weight: bold;
  line-height: 1;
}

header li.donate a {
  display: block;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  color: #fff;
  background-color: #be4751;
  padding: 0.35rem 0.55rem;
  opacity: 0.9;
}

header ul li.facebook a, header ul li.twitter a, header nav a {
  display: inline-block;
  text-indent: -1000px;
  overflow: hidden;
}

header ul li.facebook a, header ul li.twitter a {
  width: 1.8rem;
  height: 1.5rem;
}

header ul li.facebook a {
  background: url("//static.propublica.org/logos/nav-sprites-light.min.svg") 0 0 no-repeat;
}

header ul li.twitter a {
  background: url("//static.propublica.org/logos/nav-sprites-light.min.svg") 0 -50px no-repeat;
}

header ul li.donate {
  line-height: 1.8rem;
}

header ul {
  float: right;
}

#byline {
  margin: 0 auto 0.5rem;
  font-style: italic;
  text-align: center;
  padding: 0 1rem;
}

#graphic {
  font-family: "Tiempos Text", Georgia, serif;
  color: #333;
  padding: 0 1rem;
}

#search {
  display: block;
  max-width: 35rem;
  padding: 0.5rem;
  margin: 0.5rem auto 1rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #326f9d;
  width: 100%;
}

.ad:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.18);
}

.ad {
  max-width: 33rem;
  border: 0.01rem solid #999;
  margin: 0.5rem auto;
  padding: 0.5rem;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.adcontainer {
  display: flow-root;
}

.ad .display div, #graphic .ad .display p, .ad .targeting div {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0.1rem 0;
}

.ad .display .title {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 0;
}

.ad .chiclet {
  float: left;
  margin-right: 0.4rem;
}

.ad .chiclet img {
  max-width: 15rem;
}

.ad-content a {
  pointer-events: none;
  cursor: default;
  color: #1f5881;
}

#content .wrapper {
  overflow: inherit;
}

#ads {
  font-family: graphik, -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 200;
}

.targeting, .images {
  clear: left;
  text-align: center;
}

.images {
  border-top: 1px solid #ddd;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 1rem;
}

.images img {
  max-height: 249px;
  display: inline;
  margin-right: 1rem;
}

.targeting h3 {
  text-align: left;
  border-top: 1px solid #ddd;
  margin-bottom: 0;
  font-weight: bold;
}
