/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'avenir next',
    avenir,
    helvetica,
    'helvetica neue',
    ubuntu,
    roboto,
    noto,
    'segoe ui',
    arial,
    sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 200;
  background-color: #eceff1;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border: 1px solid #efefef;
  background-color: #fff;
}

table td {
  padding: 0.5rem;
}

table td:first-child {
  text-transform: uppercase;
  font-weight: bold;
}

img {
  max-width: 10rem;
}

#login {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}
