[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

certifi = "==2017.7.27.1"
chardet = "==3.0.4"
cycler = "==0.10.0"
facebook-sdk = "==2.0.0"
idna = "==2.6"
numpy = "*"
python-dateutil = "==2.6.1"
pytz = "==2017.2"
requests = "==2.18.4"
scikit-learn = "==0.19.0"
scipy = "==0.19.1"
sklearn = "==0.0"
urllib3 = "==1.22"
bs4 = "*"
imbalanced-learn = "*"
matplotlib = "*"
psycopg2 = "*"
