[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

facebook-sdk = "*"
numpy = "*"
sklearn = "*"
"bs4" = "*"
imbalanced-learn = "*"
"psycopg2" = "*"
dill = "*"
click = "*"
records = "*"
spacy = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz"}
nltk = "*"
gensim = "==2.1.0"
