/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow: auto;
}

body {
  width: 400px;
  height: 600px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'avenir next',
    avenir,
    helvetica,
    'helvetica neue',
    ubuntu,
    roboto,
    noto,
    'segoe ui',
    arial,
    sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 200;
  background-color: #eceff1;
  overflow-y: scroll;
}

#popup {
  width: 100%;
  height: 100%;
}

#tabs {
  background-color: #fff;
  position: sticky;
  width: 100%;
  display: flex;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}

#container {
  min-height: 1000px;
  overflow-y: scroll;
}

.toggle {
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 1;
  padding: 0.6rem 0.6rem 0.4rem;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  font-weight: normal;
}

[lang=de] .toggle {
  font-size: 0.78rem;
}

.toggle:hover {
  border-bottom: 0.2rem solid #0099e6;
}

.toggle.active {
  border-bottom: 0.2rem solid #d0021b;
}

.toggle b {
  background-color: #0099e6;
  color: white;
  border-radius: 0.1rem;
  margin-left: 0.2rem;
  display: inline-block;
  font-size: 0.6rem;
  padding: 0 0.2rem;
  vertical-align: top;
  margin-top: 0.15rem;
}

.rating {
  font-size: 0.7rem;
  background-color: #fff;
  margin: 0.4rem;
  padding: 0.2rem;
  border: 1px solid #efefef;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.rating:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.rating input:focus {
  outline: none;
}

.rating b.political {
  color: #d0021b;
  font-weight: bold;
  display: block;
}

.ad {
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  font-size: 0.75rem;
  display: flow-root;
  transition: box-shadow 1s;
}

.ad-content a {
  pointer-events: none;
  cursor: default;
  color: #1f5881;
}

.ad .advertiser {
  font-weight: 500;
}

.ad .chiclet {
  float: left;
  margin-right: 0.4rem;
  height: 100%;
}

.ad .chiclet img {
  min-width: 50px;
  max-width: 100px;
}

a:focus {
  outline: none;
}

.rater, b.political {
  padding: 0.2rem 0.2rem 0;
}

.rater button, #tos button, #language .button {
  margin: 0 0.2rem;
  border: 1px solid #efefef;
  background-color: #fff;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 0.2rem;
}

#tos button {
  margin-left: auto;
  margin-right: auto;
}

.rater button:hover, #tos button:hover, #language .button:hover {
  background-color: #0099e6;
  color: white;
  border-color: #0099e6;
}

#tos button {
  font-size: 1.1rem;
  background-color: #0099e6;
  border-color: #0099e6;
  color: #efefef;
  margin: 1rem auto;
  display: block;
}

.rater button:focus, #language select {
  outline: none;
}

#tos button:hover, #language .button:hover {
  background-color: #d0021b;
  border-color: #d0021b;
}

#tos {
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #304154;
}

#tos {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
}

#tos #main {
  padding: 1rem;
  overflow-y: scroll;
  grid-area: main;
}

#tos #accept-box {
  grid-area: footer;
}

#tos h2 {
  font-size: 1.1rem;
}

#tos p {
  font-size: 0.8rem;
}

#language {
  margin-bottom: 1.5rem;
}

#language h2 {
  font-size: 1.4rem;
}

#language b {
  font-weight: bold;
}

#language select, #language option {
  height: 1rem;
}
#language select {
  width: 100%;
}

#language .button {
  border-width: 1px;
}

#language p {
  margin: 0.4rem 0;
}
