/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow: auto;
}

body {
  width: 400px;
  height: 600px;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 200;
  background-color: #eceff1;
  overflow-y: scroll;
}

#popup {
  width: 100%;
  height: 100%;
}

#thankscontainer {
  width: 100%;
  height: 100%;
}

#thanksbar {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: #f9f9f9;
  width: 100%;
  text-align: center;
  border-top: 2px solid #ccc;
}

#thanksbar:not(:empty) + #toggler {
  margin-bottom: 1rem;
}

#tabs {
  background-color: #fff;
  position: sticky;
  width: 100%;
  display: flex;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}

#container {
  min-height: 1000px;
  overflow-y: scroll;
}

.toggle {
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 1;
  padding: 0.6rem 0.6rem 0.4rem;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  font-weight: normal;
}

[lang="de"] .toggle {
  font-size: 0.78rem;
}

.toggle:hover {
  border-bottom: 0.2rem solid #0099e6;
}

.toggle.active {
  border-bottom: 0.2rem solid #d0021b;
}

.toggle b {
  background-color: #0099e6;
  color: white;
  border-radius: 0.1rem;
  margin-left: 0.2rem;
  display: inline-block;
  font-size: 0.6rem;
  padding: 0 0.2rem;
  vertical-align: top;
  margin-top: 0.15rem;
}

.rating {
  font-size: 0.7rem;
  background-color: #fff;
  margin: 0.4rem;
  padding: 0.2rem;
  border: 1px solid #efefef;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.rating:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.rating input:focus {
  outline: none;
}

.rating b.political {
  color: #d0021b;
  font-weight: bold;
  display: block;
}

.ad {
  background-color: #fff;
  font-size: 0.75rem;
  display: flow-root;
  transition: box-shadow 1s;
}

.ad a {
  pointer-events: none;
  color: #365899;
}

.ad-content a {
  pointer-events: none;
  cursor: default;
}

.ad .advertiser {
  font-weight: 500;
}

a:focus {
  outline: none;
}

.rater,
b.political {
  padding: 0.2rem 0.2rem 0.3rem;
  border-bottom: 1px solid #dddfe2;
}

.rater button,
#tos button,
#language .button {
  margin: 0 0.2rem;
  border: 1px solid #efefef;
  background-color: #fff;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 0.2rem;
}

#tos button {
  margin-left: auto;
  margin-right: auto;
}

.rater button:hover,
#tos button:hover,
#language .button:hover {
  background-color: #0099e6;
  color: white;
  border-color: #0099e6;
}

#tos button {
  font-size: 1.1rem;
  background-color: #0099e6;
  border-color: #0099e6;
  color: #efefef;
  margin: 1rem auto;
  display: block;
}

.rater button:focus,
#language select {
  outline: none;
}

#tos button:hover,
#language .button:hover {
  background-color: #d0021b;
  border-color: #d0021b;
}

#tos {
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #304154;
}

#tos {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
}

#tos #main {
  padding: 1rem;
  overflow-y: scroll;
  grid-area: main;
}

#tos #accept-box {
  grid-area: footer;
}

#tos h2 {
  font-size: 1.1rem;
}

#tos p {
  font-size: 0.8rem;
}

#language {
  margin-bottom: 1.5rem;
}

#language h2 {
  font-size: 1.4rem;
}

#language b {
  font-weight: bold;
}

#language select,
#language option {
  height: 1rem;
}
#language select {
  width: 100%;
}

#language .button {
  border-width: 1px;
}

#language p {
  margin: 0.4rem 0;
}

/* -----------------------------------------------------------------------------
/* FACEBOOK AD STYLES
/* -----------------------------------------------------------------------------*/

.scaledImageFitWidth,
._3chq,
._46-h,
._46-i,
._4lpf {
  max-width: 100%;
}

._4uoz {
  /* Targeting info */
  color: lightne(#333, 45%); /* $text-color-low-contrast; */
  max-width: 500px;
  padding: 0 12px;
  margin: 12px auto 24px auto;
}
._4uoz a {
  display: none;
}
._4uoz b {
  color: #333; /* $text-color; */
  font-weight: bold;
}
._4uoz ._4hcd {
  margin-top: 6px;
}

._4-i0._26c5,
._4uor._52jw,
._4uou,
._5lnf.uiOverlayFooter._5a8u._4866,
._4ubd._3tsq,
.hidden_elem,
._567v._3bw,
._35sk {
  /* Excess targeting info and video ads */
  display: none;
}

._1dwg._1w_m, /* Timeline ad wrapper div */
.ego_unit {
  /* Sidebar ad wrapper div */
  background-color: white;
  padding: 12px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
}

._1dwg._1w_m ._1dwg._1w_m,
._1dwg._1w_m .ego_unit {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

.message {
  margin: 12px auto 0;
  border-radius: 4px;
}

/* NEWS FEED ADS */
._5pb8._1yz2._8o._8s.lfloat._ohe,
._38vo {
  /* Profile pic wrapper */
  display: block;
  float: left;
  width: 32px;
  margin-right: 8px;
  border-radius: 16px;
  overflow: hidden;
}

._38vo {
  max-height: 32px;
}

._38vo img {
  max-height: 32px;
}

._5x46,
._3dp ._29k {
  /* Profile name wrapper */
  margin-bottom: 6px;
}

._5x46 a:hover,
._3dp a:hover,
._29k a:hover,
._5x46 a:focus,
._3dp a:focus,
._29k a:focus {
  text-decoration: underline;
}

._5pbw {
  /* Profile name */
  font-weight: bold;
}

._5pcp._5lel._232_,
._5paw {
  /* 'Sponsored' */
  font-size: 12px;
  color: rgb(144, 148, 156);
}

._2lgs {
  /* intrusive S in Sponsored (i.e. SpSonSsOSredS or whatever) */
  display: none !important;
}

._5pcp._5lel._232_ div,
._5paw div {
  display: inline;
}

._5pcp._5lel._232_ a,
._5paw a {
  color: inherit;
}

._5mfr .img {
  display: none;
}

.lock.img {
  /* 'Public' globe */
  display: none;
}

.userContent {
  /* Post text */
  clear: both;
}
/* emojis */
.userContent img,
.mbs._6m6 img,
._6a img {
  display: none;
}

.text_exposed_show {
  /* Truncated post text */
  display: none;
}

.mtm,
._dcs {
  /* Article wrap */
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mtm .mtm,
.mtm ._dcs,
._dcs ._dcs,
._dcs .mtm {
  margin-top: 0;
  border: none;
}

/* Video (and slideshow?) wrap */
._150c > * {
  display: none;
}
._150c > img:first-of-type {
  display: block;
}

._2a2q ._5dec._xcx {
  /* Slideshow images */
  display: none;
}

._2a2q ._5dec._xcx:first-child {
  display: block;
}

._6ks > a {
  /* Article image wrap */
  display: block;
}

.fbStoryAttachmentImage {
  /* Article image */
}

/* ._6m3._--6, */
._3ekx._29_4 {
  /* Article description wrap */
  padding: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

._5qf- {
  /* Profile metadata */
  display: none;
}

._5s6c {
  /* Article hed */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}

._5s6c a {
  color: inherit;
}

._6m7._3bt9,
._5q4r {
  /* Article dek */
  font-size: 12px;
  line-height: 16px;
}

._59tj._2iau,
._1s4d {
  /* Article URL/CTA wrap */
  vertical-align: bottom;
  padding-top: 5px;
}

._522u.rfloat._ohf,
._275-._4s-8.rfloat._ohf {
  /* CTA button */
  display: inline-block;
  float: right;
  margin-left: 10px;
}

._522u.rfloat._ohf a,
._275-._4s-8.rfloat._ohf a {
  display: block;
  color: rgb(75, 79, 86);
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  padding: 0 8px;
  background-color: rgb(246, 247, 249);
  border: 1px solid rgb(206, 208, 212);
  border-radius: 2px;
}
._522u.rfloat._ohf a:hover,
._275-._4s-8.rfloat._ohf a:hover,
._522u.rfloat._ohf a:focus,
._275-._4s-8.rfloat._ohf a:focus {
  background-color: #e9ebee;
}

._6lz._6mb,
._275y {
  /* Article URL */
  color: rgb(144, 148, 156);
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  padding-top: 13px;
}

._5g-l,
._5tc6,
._1-m5 {
  /* 'Not affiliated with Facebook' */
  display: none;
}

h6 a {
  text-decoration: none;
  font-weight: bold;
  color: #365899;
}

h6 a:hover {
  text-decoration: underline;
}

/* SIDEBAR ADS */

.ego_unit {
  /* Sidebar ad */
  font-size: 13px;
  line-height: 16px;
}

/* These all use different class names, hence the delightful muck below. Fun! */

.ego_unit div > div > a > div > div:nth-child(2) {
  /* Sidebar ad hed/URL wrapper*/
  padding-top: 10px;
}

.ego_unit div > div > a > div > div:nth-child(4) {
  /* Sidebar ad article dek */
  color: rgb(144, 148, 156);
}

.fwb.fcg > a,
.d_1pw5dh0kri {
  color: #365899;
}

.mbs._6m6._2cnj._5s6c > a {
  color: #333;
}

.y_1pw5dh0kr_ {
  color: rgb(144, 148, 156);
}

.uiStreamPrivacy.inlineBlock.fbStreamPrivacy.fbPrivacyAudienceIndicator._5pcq {
  display: inline-block;
  float: left;
}

._5pcp._5lel._232_ {
  display: flex;
  align-content: flex-start;
}
